{% macro render_field(field) %}
{{ field.label(class_="sr-only") }} 
{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul>
	{% for error in field.errors %}
	<li style="color:red;">{{ error }}</li>
	{% endfor %}
</ul>
{% endif  %}
{% endmacro %}

{% macro render_messages(messages) %}
{% with messages = get_flashed_messages(messages) %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li style="color:blue;">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endmacro %}
