{% extends "base.html" %}
{% block title %}
Logs
{% endblock %}
{% block content %}
<h1>Logs</h1>
{% if posts %}
{% for post in posts[::-1] %}
<div>
    <h3><a href="{{ url_for('post', id=post.id) }}">{{ post.title|safe }}</a></h3>
    <h6>by: <a href="{{ url_for('profile', username=post.author) }}">{{ post.author|safe }}</a></h6>
</div>
{% endfor %}
{% else %}
<p>There are no logs to show.</p>
<p><b><a href="{{ url_for('newPost') }}">Be the first one! :)</a></b></p>
{% endif %}
{% endblock %}
